---
import '../styles/global.css';

import SEOHead from '../components/common/SEOHead.astro';
import JSONLD from '../components/common/JSONLD.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
	type?: 'website' | 'article';
	publishDate?: Date;
}

const { title, description = "Senior Cloud & Infrastructure Leader Portfolio", image, type, publishDate } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEOHead title={title} description={description} image={image} type={type} publishDate={publishDate} />
		<JSONLD type={type} title={title} description={description} />
	</head>
	<body class="bg-white text-gray-900 antialiased">
		<slot />
	</body>
</html>
